@tailwind base;
@tailwind components;
@tailwind utilities;

.ktn-shadow-top1{
    color: #614475;
	font-size: 30px;
	text-shadow: -1px 1px 0 #4a90e2,
				  1px 1px 0 #4a90e2,
				 1px -1px 0 #4a90e2,
				-1px -1px 0 #4a90e2;
}
.ktn-shadow-top2{
    color: #614475;
	font-size: 30px;
	text-shadow: -1px 1px 0 #50e3c2,
				  1px 1px 0 #50e3c2,
				 1px -1px 0 #50e3c2,
				-1px -1px 0 #50e3c2;
}
.ktn-shadow-top3{
    color: #614475;
	font-size: 30px;
	text-shadow: -1px 1px 0 #e35050,
				  1px 1px 0 #e35050,
				 1px -1px 0 #e35050,
				-1px -1px 0 #e35050;
}